<li>
  <div *ngIf="application">
    <ul>
      <li>
        {{application.id}}
      </li>
      <li>
        {{application.email}}
      </li>
      <li>
        {{application.education}}
      </li>
      <li>
        {{application.name}}
      </li>
      <li>
        {{application.surname}}
      </li>
      <li>
        {{application.phone}}
      </li>
      <li>
        {{application.threePartyAgreement}}
      </li>
      <li>
        {{application.available14To18}}
      </li>
      <li>
        {{application.motivation}}
      </li>
      <li>
        {{application.experience}}
      </li>
      <li>
        {{application.infoAboutAcademy}}
      </li>
    </ul>
  </div>
</li>
