<li>
  <div *ngIf="application">
    <ul>
      <li>
        {{application.id}}
      </li>
      <li>
        {{application.email}}
      </li>
      <li>
        {{application.education}}
      </li>
      <li>
        {{application.name}}
      </li>
      <li>
        {{application.surname}}
      </li>
      <li>
        {{application.tel}}
      </li>
      <li>
        {{application.answerThreePartAgreement}}
      </li>
      <li>
        {{application.answerAvailable14To18}}
      </li>
      <li>
        {{application.answerMotivation}}
      </li>
      <li>
        {{application.answerExperience}}
      </li>
      <li>
        {{application.answerInfoAbout}}
      </li>
    </ul>
  </div>
</li>
