<body>
    <!-- NAVIGATION -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">PRADŽIA</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">REGISTRACIJA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">APIE MUS</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div class="register-container">
        <app-register-form></app-register-form>
    </div>

</body>
