button {
  margin: auto;
  display: block;
}

.card-body {
  padding-left: 10%;
  padding-right: 10%;
}

.reverse {
  float: right;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
      width: 100%;
  }

  .display-4{
      width: 90%;
      margin: auto;
      text-align: center;
  }

  .lead {
    text-align: center;
    background-color: rgba(255,255,255,0.4);
  }
}
