<table class="table" *ngIf="application$ | async as application">
  <tbody>
  <tr>
    <th scope="row">Vardas</th>
    <td>{{application.name}}</td>
  </tr>
  <tr>
    <th scope="row">Pavardė</th>
    <td>{{application.surname}}</td>
  </tr>
  <tr>
    <th scope="row">El. paštas</th>
    <td>{{application.email}}</td>
  </tr>
  <tr>
    <th scope="row">Tel. nr.</th>
    <td>{{application.phone}}</td>
  </tr>
  <tr>
    <th scope="row">Studijuoja</th>
    <td>{{application.education}}</td>
  </tr>
  <tr>
    <th scope="row">Trišalė sutartis</th>
    <td>{{application.threePartyAgreement}}</td>
  </tr>
  <tr>
    <th scope="row">Laisvas 14:00-18:00</th>
    <td>{{application.available14To18}}</td>
  </tr>  <tr>
    <th scope="row">Laisvalaikis</th>
    <td>{{application.freeTimeActivity}}</td>
  </tr>  <tr>
    <th scope="row">Motyvacija</th>
    <td>{{application.motivation}}</td>
  </tr>
  <tr>
    <th scope="row">Patirtis</th>
    <td>{{application.experience}}</td>
  </tr>
  <tr>
    <th scope="row">Šaltinis</th>
    <td>{{application.infoAboutAcademy}}</td>
  </tr>
  <tr>
    <th scope="row">Pateikta</th>
    <td>{{application.dateTime}}</td>
  </tr>
  <tr>
    <th scope="row">Statusas</th>
    <td>{{application.status}}</td>
  </tr>
  </tbody>
  <div *ngIf="loginService.isUserLoggedIn() && application.status === 'PERŽIŪRIMA'">
    <button name="status" (click)="changeStatus('PATVIRTINTA')" class="btn btn-success">
      Patvirtinti
    </button>
    <button name="status" (click)="changeStatus('ATMESTA')" class="btn btn-danger">
      Atmesti
    </button>
  </div>
</table>
<a *ngIf="loginService.isUserLoggedIn()" [routerLink]="['/admin']">Grįžti</a>
