#interview-invite {
  float: right;
}

.left {
  float: left;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .2rem 1rem;
}

button {
    float: right;
}
#loader {
  bottom: 0%;
}

.comments-outer {
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.comments-inner {
  margin: 10px;
}

.comment-text {
  margin-top: 5px;
}

.no-decor {
  border: none;
}

#status {
  margin: 0px 10px;
  float: right;

}
