<body>
  <!-- NAVIGATION -->
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link" [routerLink]="['/home']">PRADŽIA</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link" [routerLink]="['/register']">REGISTRACIJA</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link" [routerLink]="['/about']">APIE MUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()"  [routerLink]="['/logout']">ATSIJUNGTI</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Anketos peržiūra</h1>
    </div>
  </div>

  <div id="loader"></div>

  <div class="container" id="content" *ngIf="application$ | async as application">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Vardas</th>
        <td>{{application.name}}</td>
      </tr>
      <tr>
        <th scope="row">Pavardė</th>
        <td>{{application.surname}}</td>
      </tr>
      <tr>
        <th scope="row">El. paštas</th>
        <td>{{application.email}}</td>
      </tr>
      <tr>
        <th scope="row">Tel. nr.</th>
        <td>{{application.phone}}</td>
      </tr>
      <tr>
        <th scope="row">Studijuoja</th>
        <td>{{application.education}}</td>
      </tr>
      <tr>
        <th scope="row">Trišalė sutartis</th>
        <td>{{application.threePartyAgreement}}</td>
      </tr>
      <tr>
        <th scope="row">Laisvas 14:00-18:00</th>
        <td>{{application.available14To18}}</td>
      </tr>  <tr>
        <th scope="row">Laisvalaikis</th>
        <td>{{application.freeTimeActivity}}</td>
      </tr>  <tr>
        <th scope="row">Motyvacija</th>
        <td>{{application.motivation}}</td>
      </tr>
      <tr>
        <th scope="row">Patirtis</th>
        <td>{{application.experience}}</td>
      </tr>
      <tr>
        <th scope="row">Šaltinis</th>
        <td>{{application.infoAboutAcademy}}</td>
      </tr>
      <tr>
        <th scope="row">Pateikta</th>
        <td>{{application.dateTime}}</td>
      </tr>
      <tr>
        <th scope="row">Statusas</th>
        <td>{{application.status}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="authenticationService.isUserLoggedIn() && application.status === 'PERŽIŪRIMA'">
      <button name="status" (click)="showLoader(); changeStatus('PATVIRTINTA')" class="btn btn-success">
        Patvirtinti
      </button>
      <button name="status" (click)="showLoader(); changeStatus(statusType.ATMESTA)" class="btn btn-danger">
        Atmesti
      </button>
    </div>
    <a *ngIf="authenticationService.isUserLoggedIn()" [routerLink]="['/admin']">Grįžti</a>


    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        COPYRIGHT © 2020 PANKU BLESIKAI. ALL RIGHTS RESERVED
      </div>
    </footer>
  </div>

</body>
