button {
    float: right;
}

#loader {
  bottom: 0%;
}

.comments-outer {
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.comments-inner {
  margin: 10px;
}

.comment-text {
  margin-top: 5px;
}
