button {
    float: right;
    margin: 0px 10px;
}

#loader {
  bottom: 0%;
}

.left {
  float: left;
}

#content {
  width: 90%;
  margin: 0 auto;
}

span {
  display: inline;
}

.no-decor {
  border: none;
}

.comments-outer {
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.comments-inner {
  margin: 10px;
}

.comment-text {
  margin-top: 5px;
}