<table class="table" *ngIf="application$ | async as application">
  <tbody>
  <tr>
    <th scope="row">Vardas</th>
    <td>{{application.name}}</td>
  </tr>
  <tr>
    <th scope="row">Pavardė</th>
    <td>{{application.surname}}</td>
  </tr>
  <tr>
    <th scope="row">El. paštas</th>
    <td>{{application.email}}</td>
  </tr>
  <tr>
    <th scope="row">Tel. nr.</th>
    <td>{{application.tel}}</td>
  </tr>
  <tr>
    <th scope="row">Studijuoja</th>
    <td>{{application.education}}</td>
  </tr>
  <tr>
    <th scope="row">Trišalė sutartis</th>
    <td>{{application.answerThreePartAgreement}}</td>
  </tr>
  <tr>
    <th scope="row">Laisvas 14:00-18:00</th>
    <td>{{application.answerAvailable14To18}}</td>
  </tr>  <tr>
    <th scope="row">Laisvalaikis</th>
    <td>{{application.answerFreeTimeActivity}}</td>
  </tr>  <tr>
    <th scope="row">Motyvacija</th>
    <td>{{application.answerMotivation}}</td>
  </tr>
  <tr>
    <th scope="row">Patirtis</th>
    <td>{{application.answerExperience}}</td>
  </tr>
  <tr>
    <th scope="row">Šaltinis</th>
    <td>{{application.answerInfoAboutAcademy}}</td>
  </tr>
  <tr>
    <th scope="row">Pateikta</th>
    <td>{{application.dateTime}}</td>
  </tr>
  <tr>
    <th scope="row">Statusas</th>
    <td>{{application.status}}</td>
  </tr>
  </tbody>
  <div *ngIf="application.status === 'INPROGRESS'">
    <button name="status" onclick="changeStatus('ACCEPTED')" class="btn btn-success">
      Patvirtinti
    </button>
    <button name="status" onclick="changeStatus('DECLINED')" class="btn btn-danger">
      Atmesti
    </button>
  </div>
</table>

<a [routerLink]="['/admin/applications']">Grįžti</a>
