  <div class="inline-display" >
    <span class="margin-left-30">
      <label for="search" class="margin-right-10">Ieškoti:</label>
      <input type="text" id="search" #search size="30" class="margin-right-30" placeholder="Vardas arba Pavardė"
             (keyup)="updateSearchFieldInput(search.value)"/>
    </span>
    <span class="align-right">
      <label class="margin-right-10">Statusas: </label>
      <input type="radio" id="all" #all name="statusFilter" value="VISI" checked
             (click)="updateStatusInput(all.value)">
      <label for="all" class="margin-right-10">VISI</label>
      <input type="radio" id="inProgress" #inProgress name="statusFilter" value="PERŽIŪRIMA"
             (click)="updateStatusInput(inProgress.value)">
      <label for="inProgress" class="margin-right-10">PERŽIŪRIMA</label>
      <input type="radio" id="accepted" #accepted name="statusFilter" value="PATVIRTINTA"
             (click)="updateStatusInput(accepted.value)">
      <label for="accepted" class="margin-right-10">PATVIRTINTA</label>
      <input type="radio" id="declined" #declined name="statusFilter" value="ATMESTA"
             (click)="updateStatusInput(declined.value)">
      <label for="declined" class="margin-right-10" class="margin-right-30">ATMESTA</label>
    </span>
  </div>
<table class="table">
  <thead>
  <tr>
    <th scope="row">#</th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('name')">Vardas</a></th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('surname')">Pavardė</a></th>
    <th scope="col">El. paštas</th>
    <th scope="col">Tel. nr.</th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('dateTime')">Pateikta</a></th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('status')">Statusas</a></th>
    <th scope="col">Daugiau informacijos</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let application of applications; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{application.name}}</td>
    <td>{{application.surname}}</td>
    <td>{{application.email}}</td>
    <td>{{application.tel}}</td>
    <td>{{application.dateTime}}</td>
    <td>{{application.status}}</td>
    <td><a [routerLink]="['../application/'+application.idHash]">Plačiau...</a></td>
  </tr>
  </tbody>
</table>
