<div class="inline-display">
    <span class="margin-left-30">
      <label for="search" class="margin-right-10">Ieškoti:</label>
      <input type="text" id="search" #search size="30" class="margin-right-30" placeholder="Vardas arba Pavardė"
             (keyup)="updateSearchFieldInput(search.value)"/>
    </span>
</div>

<label class="margin-left-30" (click)="advancedFilters()" id="show-advanced">
  <i class="fas fa-caret-right"></i>
  Rodyti papildomus filtrus
</label>

<div id="advanced-filters">
  <fieldset class="margin-left-30" id="statusFilter">
    <label class="margin-right-10">Statusas: </label>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="all" #all name="statusFilter" value="VISI" checked
             (click)="updateStatusInput(all.value)">
      <label class="custom-control-label" for="all">VISI</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="inProgress" #inProgress name="statusFilter"
             value="PERŽIŪRIMA" (click)="updateStatusInput(inProgress.value)">
      <label class="custom-control-label" for="inProgress">PERŽIŪRIMA</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="accepted" #accepted name="statusFilter" value="PATVIRTINTA"
             (click)="updateStatusInput(accepted.value)">
      <label class="custom-control-label" for="accepted">PATVIRTINTA</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="declined" #declined name="statusFilter" value="ATMESTA"
             (click)="updateStatusInput(declined.value)">
      <label class="custom-control-label" for="declined">ATMESTA</label>
    </div>
  </fieldset>

  <fieldset class="margin-left-30" id="availabilityFilter">
    <label class="margin-right-10">Laisvas nuo 14:00 iki 18:00:</label>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="availabilityYes" #availabilityYes name="availabilityFilter"
             value="Taip" (click)="updateAvailabilityInput(availabilityYes.value)">
      <label class="custom-control-label" for="availabilityYes">TAIP</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="availabilityNo" #availabilityNo name="availabilityFilter"
             value="Ne" (click)="updateAvailabilityInput(availabilityNo.value)">
      <label class="custom-control-label" for="availabilityNo">NE</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="availabilityAll" #availabilityAll name="availabilityFilter"
             value="Visi" checked (click)="updateAvailabilityInput(availabilityAll.value)">
      <label class="custom-control-label" for="availabilityAll">VISI</label>
    </div>
  </fieldset>

  <fieldset class="margin-left-30" id="agreementFilter">
    <label class="margin-right-10">Galės pasirašyti trišalę sutartį:</label>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="agreementYes" #agreementYes name="agreementFilter"
             value="Taip" (click)="updateAgreementInput(agreementYes.value)">
      <label class="custom-control-label" for="agreementYes">TAIP</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="agreementNo" #agreementNo name="agreementFilter"
             value="Ne" (click)="updateAgreementInput(agreementNo.value)">
      <label class="custom-control-label" for="agreementNo">NE</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="agreementAll" #agreementAll name="agreementFilter"
             value="Visi" checked (click)="updateAgreementInput(agreementAll.value)">
      <label class="custom-control-label" for="agreementAll">VISI</label>
    </div>
    </fieldset>
  </div>

<table class="table">
  <thead>
  <tr>
    <th scope="row">#</th>
    <th class="name-mw"><a href="javascript:void(0);" (click)="sort('name')">Vardas</a></th>
    <th class="lastName-mw"><a href="javascript:void(0);" (click)="sort('surname')">Pavardė</a></th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('dateTime')">Pateikta</a></th>
    <th scope="col"><a href="javascript:void(0);" (click)="sort('status')">Statusas</a></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngIf="applications.length !== 0">
  <tr *ngFor="let application of applications; let i = index">
    <th scope="row">{{i+1}}</th>
    <td class="name-mw">{{application.name.length > 30 ? application.name.substring(0,29) + "..." : application.name}}</td>
    <td class="lastName-mw">{{application.surname.length > 30 ? application.surname.substring(0,29) + "..." : application.surname}}</td>
    <td>{{application.dateTime}}</td>
    <td>{{application.status}}</td>
    <td><a [routerLink]="['../application/'+application.idHash]">Plačiau...</a></td>
  </tr>
  </tbody>
  <tbody *ngIf="applications.length === 0">
  <td colspan="6" align="center">Paraiškų atitinkančių pasirinktus kriterijus nėra</td>
  </tbody>
</table>
