.ng-valid:not(form) {
    border-left: 5px solid #42A948;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
}

.charsleft {
  font-size: 0.8em;
}

#chars-remaining-freeTimeActivity {
  font-size: 0.8em;
}

#chars-remaining-threePartyAgreement {
  font-size: 0.8em;
}

#chars-remaining-motivation {
  font-size: 0.8em;
}

#chars-remaining-experience {
  font-size: 0.8em;
}

#chars-remaining-infoAboutAcademy {
  font-size: 0.8em;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
