<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Registracija</h1>
    <p class="lead">Užpildykite aplikaciją ir prisijunk prie mūsų IT akademijos!</p>
  </div>
</div>
<br><br>
<div id="break"><br><br><br></div>
<div id="loader"></div>

<div id="content">

  <div class="container">

    <form [formGroup]="registerForm" (ngSubmit)="showLoader(); onSubmit(); registerForm.reset()">
      <div class="row">
        <div class="col-sm">
          <br><h4><b>Asmeninė informacija</b><br><br></h4>
          <div class="form-group">
            <label for="name">Vardas</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              maxlength="256"
            />
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <div *ngIf="name.errors?.regexValidator">Prašome atsakyti į klausimą.</div>
              <div *ngIf="name.errors?.maxLength">Vardo įvestis turi perdaug simbolių.</div>
              <div *ngIf="name.errors?.required">Šis laukas yra privalomas.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="surname">Pavardė</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              formControlName="surname"
              maxlength="256"
            />
            <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
              <div *ngIf="surname.errors?.regexValidator">Prašome atsakyti į klausimą.</div>
              <div *ngIf="surname.errors?.maxLength">Pavardės įvestis turi perdaug simbolių.</div>
              <div *ngIf="surname.errors?.required">Šis laukas yra privalomas.</div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="phone">Telefono numeris</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              formControlName="phone"
              placeholder="+37066666666"
              maxlength="12"
            />
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              <div *ngIf="phone.errors?.pattern">Prašome įvesti telefono numerį formatu: +37066666666</div>
              <div *ngIf="phone.errors?.required">Šis laukas yra privalomas.</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="email">Elektroninis paštas</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="someone@example.com"
              maxlength="256"
            />
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              <div *ngIf="email.errors?.maxLength">Elektroninio pašto adresas yra per ilgas.</div>
              <div *ngIf="email.errors?.pattern">Elektroninio pašto formatas neteisingas. Įvedimo pavyzdys:
                someone@example.com
              </div>
              <div *ngIf="email.errors?.required">Elektroninis paštas yra privalomas.</div>
            </div>
          </div>

          <span class="form-group">
            <label for="education">Mokymo įstaiga, kurioje šiuo metu mokaisi</label>
            <input type="text" class="form-control" id="education" list="universities" formControlName="education"
                   maxlength="256"/>
            <datalist id="universities">
              <option value="Generolo Jono Žemaičio Lietuvos karo akademija">
              <option value="Lietuvos sveikatos mokslų universitetas">
              <option value="Kauno technologijos universitetas">
              <option value="Klaipėdos universitetas">
              <option value="Lietuvos muzikos ir teatro akademija">
              <option value="Mykolo Romerio universitetas">
              <option value="Šiaulių universitetas">
              <option value="Vilniaus dailės akademija">
              <option value="Vilniaus Gedimino technikos universitetas">
              <option value="Vilniaus universitetas">
              <option value="Vytauto Didžiojo universitetas">
              <option value="Lietuvos sporto universitetas">
              <option value="Alytaus kolegija">
              <option value="Kauno kolegija">
              <option value="Kauno miškų ir aplinkos inžinerijos kolegija">
              <option value="Kauno technikos kolegija">
              <option value="Klaipėdos valstybinė kolegija">
              <option value="Lietuvos aukštoji jūreivystės mokykla">
              <option value="Marijampolės kolegija">
              <option value="Panevėžio kolegija">
              <option value="Šiaulių valstybinė kolegija">
              <option value="Utenos kolegija">
              <option value="Vilniaus kolegija">
              <option value="Vilniaus technologijų ir dizaino kolegija">
              <option value="ISM Vadybos ir ekonomikos universitetas">
              <option value="LCC tarptautinis universitetas">
              <option value="Kazimiero Simonavičiaus universitetas">
              <option value="Telšių Vyskupo Vincento Borisevičiaus kunigų seminarija">
              <option value="Europos Humanitarinis Universitetas">
              <option value="Vilniaus Šv. Juozapo kunigų seminarija">
              <option value="V. A. Graičiūno aukštoji vadybos mokykla">
              <option value="Socialinių mokslų kolegija">
              <option value="Klaipėdos verslo kolegija">
              <option value="Kolpingo kolegija">
              <option value="Šiaurės Lietuvos kolegija">
              <option value="Šv. Ignaco Lojolos kolegija">
              <option value="Tarptautinė teisės ir verslo aukštoji mokykla">
              <option value="Vakarų Lietuvos verslo kolegija">
              <option value="Vilniaus verslo kolegija">
              <option value="Vilniaus dizaino kolegija">
              <option value="Vilniaus kooperacijos kolegija">
          </datalist>
            <div [hidden]="education.valid || education.pristine" class="alert alert-danger">
              <div *ngIf="education.errors?.pattern">Prašome pateikti savo mokymosi įstaigą.</div>
              <div *ngIf="education.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
              <div *ngIf="education.errors?.required">Šis laukas yra privalomas.</div>
            </div>
          </span>
        </div>
      </div>

      <br><h4><b>Praktikos informacija</b><br></h4>

      <div class="form-group">
        <label for="threePartyAgreement"
        >Ar bus galimybė pasirašyti trišalę praktikos sutartį, jei ne pakomentuok plačiau.</label>
        <div>
          <input
            type="radio"
            id="threePartyAgreementYes"
            name="threePartyAgreementRadio"
            value="Taip"
            (click)="yesCheckThreePartyAgreement()"
          > Taip
          <input
            type="radio"
            id="threePartyAgreementNo"
            name="threePartyAgreementRadio"
            value="Ne"
            (click)="noCheckThreePartyAgreement()"
          > Ne
        </div>
        <textarea
          type="text"
          class="form-control"
          id="threePartyAgreement"
          formControlName="threePartyAgreement"
          maxlength="1024"
          (keyup)="charCounter('threePartyAgreement', 'chars-remaining-threePartyAgreement')"
          style="display: none"
          autosize
        ></textarea>
        <span [hidden]="!threePartyAgreement.valid && !threePartyAgreement.pristine" style="display: none"
              id="remaining-threePartyAgreement">
          <span class="charsleft">Liko simbolių: </span><span id="chars-remaining-threePartyAgreement">1024</span>
        </span>
        <div [hidden]="threePartyAgreement.valid ||threePartyAgreement.pristine"
             class="alert alert-danger">
          <div *ngIf="threePartyAgreement.errors?.pattern">Prašome atsakyti į klausimą.</div>
          <div *ngIf="threePartyAgreement.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
          <div *ngIf="threePartyAgreement.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="available14To18"
        >Numatytas praktikos laikas darbo dienomis 14-18 val. Ar galėsi akademijai skirti tiek laiko?</label>
        <div>
          <input
            type="radio"
            id="available14To18Yes"
            name="available14To18Radio"
            value="Taip"
            (click)="yesCheckAvailable14To18()"
          > Taip
          <input
            type="radio"
            id="available14To18No"
            name="available14To18Radio"
            value="Ne"
            (click)="noCheckAvailable14To18()"
          > Ne
        </div>
        <textarea
          type="text"
          class="form-control"
          id="available14To18"
          formControlName="available14To18"
          maxlength="5"
          style="display: none"
        ></textarea>
        <div
          [hidden]="available14To18.valid ||available14To18.pristine" class="alert alert-danger">
          <div *ngIf="available14To18.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
          <div *ngIf="available14To18.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="freeTimeActivity">O ką veiki kai nesimokai? Kokie tavo pomėgiai?</label>
        <textarea
          type="text"
          class="form-control"
          id="freeTimeActivity"
          formControlName="freeTimeActivity"
          maxlength="1024"
          (keyup)="charCounter('freeTimeActivity', 'chars-remaining-freeTimeActivity')"
          autosize
        ></textarea>
        <span [hidden]="!freeTimeActivity.valid && !freeTimeActivity.pristine">
          <span>Liko simbolių: </span><span id="chars-remaining-freeTimeActivity">1024</span>
        </span>
        <div
          [hidden]="freeTimeActivity.valid || freeTimeActivity.pristine" class="alert alert-danger">
          <div *ngIf="freeTimeActivity.errors?.pattern">Prašome atsakyti į klausimą.</div>
          <div *ngIf="freeTimeActivity.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
          <div *ngIf="freeTimeActivity.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>



      <div class="form-group">
        <label for="motivation"
        >Kodėl nori dalyvauti IT akademijoje? Kas tave "veža" joje dalyvauti?</label>
        <textarea
          type="text"
          class="form-control"
          id="motivation"
          formControlName="motivation"
          maxlength="1024"
          (keyup)="charCounter('motivation', 'chars-remaining-motivation')"
          autosize
        ></textarea>
        <span [hidden]="!motivation.valid && !motivation.pristine">
          <span class="charsleft">Liko simbolių: </span><span id="chars-remaining-motivation">1024</span>
        </span>
        <div [hidden]="motivation.valid ||motivation.pristine" class="alert alert-danger">
          <div *ngIf="motivation.errors?.pattern">Prašome atsakyti į klausimą.</div>
          <div *ngIf="motivation.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
          <div *ngIf="motivation.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="experience"
        >Kokios technologijos tau labiausiai patinka ir su kokiomis iš jų jau
          turi patirties? Jei teko dirbti prie konkretaus projekto, pasidalink jo
          nuoroda.</label
        >
        <textarea
          type="text"
          class="form-control"
          id="experience"
          formControlName="experience"
          maxlength="1024"
          (keyup)="charCounter('experience', 'chars-remaining-experience')"
          autosize
        ></textarea>
        <span [hidden]="!experience.valid && !experience.pristine">
          <span class="charsleft">Liko simbolių: </span><span id="chars-remaining-experience">1024</span>
        </span>
        <div [hidden]="experience.valid ||experience.pristine" class="alert alert-danger">
          <div *ngIf="experience.errors?.pattern">Prašome atsakyti į klausimą.</div>
          <div *ngIf="experience.errors?.maxLength">Įvestas tekstas per ilgas.</div>
          <div *ngIf="experience.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="infoAboutAcademy">Iš kur sužinojai apie IT akademiją?</label>
        <textarea
          type="text"
          class="form-control"
          id="infoAboutAcademy"
          formControlName="infoAboutAcademy"
          maxlength="1024"
          (keyup)="charCounter('infoAboutAcademy', 'chars-remaining-infoAboutAcademy')"
          autosize
        ></textarea>
        <span [hidden]="!infoAboutAcademy.valid && !infoAboutAcademy.pristine">
          <span class="charsleft">Liko simbolių: </span><span id="chars-remaining-infoAboutAcademy">1024</span>
        </span>
        <div [hidden]="infoAboutAcademy.valid || infoAboutAcademy.pristine" class="alert alert-danger">
          <div *ngIf="infoAboutAcademy.errors?.pattern">Prašome atsakyti į klausimą.</div>
          <div *ngIf="infoAboutAcademy.errors?.maxLength">Įvestas tekstas yra per ilgas.</div>
          <div *ngIf="infoAboutAcademy.errors?.required">Šis laukas yra privalomas.</div>
        </div>
      </div>

      <div class="form-group">
        <input type="checkbox" id="gdpr" [formControl]="registerForm.controls['gdpr']">
        Aš sutinku, kad mano asmens duomenis tvarkytų IT akademijos komanda.
      </div>
      <div>
        <button type="submit" class="btn btn-dark btn-lg" [disabled]="!registerForm.valid">
          Registruotis
        </button>
      </div>
      <br><br><br>
    </form>