  <div>
  <!-- NAVIGATION -->

  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">PRADŽIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">REGISTRACIJA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">APIE MUS</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div id="loader"></div>

    <div id="content">
      <div class="jumbotron home-page">
        <div class="text-center">
          <h1 class="display-4">IT AKADEMIJA</h1>
          <p class="lead">Įkvėpimas, tyrinėjimas ir neįtikėtina patirtis yra tai ko mes siekiame</p>
          <a class="btn btn-light btn-lg right" [routerLink]="['/about']" role="button">Sužinok daugiau</a>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <img (load)="hideLoader()" id="for-loading" src="../../assets/background.jpg">

  </div>
