<div class="card text-center">
    <div class="card-header">
      welcome page
    </div>
    <div class="card-body">
      <h5 class="card-title">Heading</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam. Praesent auctor mattis eros, nec rutrum ante feugiat a. Quisque lacinia magna pellentesque risus maximus luctus. Sed eget commodo erat. Aenean euismod, sem a pharetra placerat, sapien massa tempus mauris, id posuere ipsum est ut tortor. Phasellus finibus, erat id lacinia eleifend, nibh lorem maximus felis, eget tempus ex augue vitae erat. Nam sit amet ipsum eu mi blandit imperdiet at vitae purus. Quisque non ipsum sed enim vestibulum vulputate.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam. Praesent auctor mattis eros, nec rutrum ante feugiat a. </p>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
  </div>
