<!-- <div class="row"> -->


      <!-- <h5 class="card-title">Heading</h5> -->
      <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam. Praesent auctor mattis eros, nec rutrum ante feugiat a. Quisque lacinia magna pellentesque risus maximus luctus. Sed eget commodo erat. Aenean euismod, sem a pharetra placerat, sapien massa tempus mauris, id posuere ipsum est ut tortor. Phasellus finibus, erat id lacinia eleifend, nibh lorem maximus felis, eget tempus ex augue vitae erat. Nam sit amet ipsum eu mi blandit imperdiet at vitae purus. Quisque non ipsum sed enim vestibulum vulputate.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus purus, semper vel maximus et, efficitur id quam. Praesent auctor mattis eros, nec rutrum ante feugiat a. </p> -->
      <!-- <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a [routerLink]="['/admin/applications']">Applications</a> -->

      <!-- <div class="text-container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div class="container">
    <div class="background-pic">
      <div class="text-middle">
        Pankų blėšikai - daugiau nei programavimas.
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a [routerLink]="['/admin/applications']">Applications</a>
      </div>
    </div>
  </div> -->
  <body>
    <header>
      <div class="main">
      <ul>
        <li class="active"><a href="#">HOME</a></li>
        <li><a [routerLink]="['/admin/applications']">APPLICATIONS</a></li>
        <li><a [routerLink]="['/register']">REGISTER</a></li>
      </ul>
    </div>
    </header>
    <div class="title">
      <h2>PANKU<br>BLESIKAI</h2>
    </div>
    <div class="text-container">
      Inspiration,<br>limitless<br>exploration,<br>unimaginable<br>experience are<br>
      things we<br>aspire.
    </div>
    <footer>COPYRIGHT © 2020 PANKU BLESIKAI. ALL RIGHTS RESERVED</footer>
  </body>
